.marquee-div {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  background: #f7ab3f;
}

.marquee-div a {
  text-decoration: none;
  font-weight: 600;
  color: #171920;
  font-size: 14px;
  font-family: 'Quicksand', 'Inter', serif;
}
